:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
}
/* Base */
ul {
  list-style-type: none;
}
body {
  color: var(--color-primary-dark);
}
/* Button */
.button {
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
/* Section Header */
.link {
  color: var(--color-primary-light);
}
.link:hover {
  color: var(--color-brand-light);
}
/* Section Hero */
.hero-title {
  color: var(--color-primary-light);
}
.hero-title .accent,
.accent {
  color: var(--color-brand-light);
}
/* Section Advantages */
.advantages-list {
  background-color: var(--color-brand-light);
  color: #faf4ea;
}
.section-title {
  color: var(--color-primary-dark);
}
.accent-dark {
  color: var(--color-brand-dark);
}
.formats-article {
  color: #faf4ea;
}
.formats-section {
  background-color: var(--color-brand-light);
}
/* remove */
footer,
header {
  background-color: #819b57;
}
/* remove bgc */
