@import "./utils/fonts";
@import "./utils/variables";

@import "./utils/utils";
@import "./components/buttons";
@import "./components/links";
@import "base";
@import "./components/header";
@import "./components/hero-section";

/* Advantages section */
.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--color-primary-light);
}

/* Section Traditions */

.traditions-section {
  background-color: var(--color-primary-light);
  padding: 48px 0;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.baker-man-photo {
  border-radius: 400px 400px 0 0;
  width: 393px;
  height: 466px;
}

.traditions-title {
  color: var(--color-primary-dark);
  text-align: center;
  font-weight: 900;
  line-height: 1.3;
  font-size: 64px;
  margin-bottom: 42px;
}

.traditions-text .accent {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

.accent-dark {
  color: var(--color-brand-dark);
}

/* remove */
footer,
header {
  background-color: var(--color-brand-normal);
}

/* chefs-section */
.chefs-section {
  background-color: var(--color-primary-light);
  padding: 48px 0;
}

.chefs-main-title {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: 900;
  line-height: 1.3;
  font-size: 64px;
  margin: 0 auto 80px;
  position: relative;
}

.chefs-main-title::before,
.chefs-main-title::after {
  content: "";
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  position: absolute;
  bottom: 24px;
}

.chefs-main-title::before {
  left: 0px;
}

.chefs-main-title::after {
  right: 0px;
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc(100% / 2 - 30px);
}

.chefs-card {
  display: flex;
  gap: 30px;
}

.chefs-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chefs-title {
  font-weight: 600;
  font-size: 40px;
  margin: 0;
}

.chefs-text p {
  margin-bottom: 24px;
}

.chefs-text p:last-child {
  margin-bottom: 0;
}

.chefs-image {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

/* formats-section */
.formats-main-title {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: 900;
  line-height: 1.3;
  font-size: 64px;
  margin: 0 auto 80px;
}

// .formats-section {
//   background-color: var(--color-primary-light);
//   padding: 48px 0;
// }

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  flex-shrink: 0;
}

.carousel-icon {
  fill: var(--color-primary-dark);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
}

.carousel-button:hover .carousel-icon {
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-card {
  border-radius: 16px;
  padding: 24px;
  height: 444px;
  background-image: linear-gradient(
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0) 72.92%,
    var(--color-primary-dark) 100%
  );
  transition: transform 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.formats-card:hover {
  transform: scale(1.05);
}
.formats-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.format-text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 30;
}

/* contsct-section */
.contact-section {
  padding: 48px 0;
  background-color: var(--color-primary-light);
}

.contact-main-title {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-weight: 900;
  line-height: 1.3;
  font-size: 60px;
  margin: 0 auto 20px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

/* footer */
.footer-section {
  background-image: url("../images/footer-background.png");
  background-color: var(--color-primary-dark);
  padding: 32px 0;
  position: relative;
}

.footer-container {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-menu-list {
  flex-grow: 1;
}

.footer-address-list,
.policy {
  flex-grow: 1;
}

.address-social {
  fill: var(--color-primary-light);
}

.address-social:hover {
  fill: var(--color-brand-light);
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
  cursor: pointer;
}

.address-link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

.footer-social-list {
  display: flex;
}

.address-copyright {
  font-size: 14px;
}

.footer-section::before,
.footer-section::after {
  position: absolute;
  bottom: 0;
  content: "";
}

.footer-section::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-repeat: no-repeat;
  background-image: url("../images/decor-bread-small.png");
}

.footer-section::after {
  background-image: url("../images/decor-bread-mix.png");
  width: 380px;
  height: 190px;
  right: 0;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.modal {
  width: 100%;
  max-width: 880px;
  max-height: 880px;
  height: 100%;
  background-color: var(--color-primary-light);
  border-radius: 30px;
  position: relative;
  padding: 128px;
  overflow-y: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-button {
  position: absolute;
  top: 40px;
  right: 40px;
}

/* Form  */
.form-field {
  margin-bottom: 32px;
}

.form-label {
  display: block;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus {
  border-color: var(--color-brand-light);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  max-width: 210px;
  margin: 0 auto;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
