/* Contact-section */
.contact-section {
  background-color: var(--color-primary-light);
}
.contact-container {
  display: flex;
  gap: 32px;
}
.contact-main-title {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-weight: 900;
  line-height: 1.31;
  font-size: 60px;
  margin: 0 auto 16px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
.contact-form-container {
  max-height: 600px;
}
.contact-form-container p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-brand-dark);
  margin-bottom: 42px;
}
.contact-form-container .form-field {
  margin-bottom: 24px;
}
.contact-form-container .form-terms {
  width: 240px;
  color: var(--color-primary-dark);
  font-size: 12px;
}
